In [1]:
#Bibliotecas
import pandas as pd
import numpy as np
import keyring
import cx_Oracle
import os
import glob
import math
import warnings
warnings.filterwarnings("ignore")

# Dados de Entrada

In [2]:
#Dados de entrada
#Pasta Comercial para ano 2023
pasta = r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\SERVICOS\2023'

#Chaves Primárias
chaves_paulista = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\SERVICOS\INDGER2.0_SERV_Chaves.xlsx',sheet_name='Paulista')
chaves_piratininga = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\SERVICOS\INDGER2.0_SERV_Chaves.xlsx',sheet_name='Piratininga')
chaves_santacruz = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\SERVICOS\INDGER2.0_SERV_Chaves.xlsx',sheet_name='Santa Cruz')
chaves_rge = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\SERVICOS\INDGER2.0_SERV_Chaves.xlsx',sheet_name='RGE')

#Selecionar pasta do mes de referência
pasta_mes = input('Insira o mês (dois dígitos):')
ano = input('Insira o ano (4 dígitos):')
if pasta_mes == '01':
    mes = '01'
    pasta_mes = '01 - Janeiro\*'
    pasta_mes_paulista = '01 - Janeiro'
    pasta_mes_piratininga = '01 - Janeiro'
    pasta_mes_santacruz = '01 - Janeiro'
    pasta_mes_rge = '01 - Janeiro'
    print(pasta_mes)
elif pasta_mes == '02':
    mes = '02'
    pasta_mes = '02 - Fevereiro\*'
    pasta_mes_paulista = '02 - Fevereiro'
    pasta_mes_piratininga = '02 - Fevereiro'
    pasta_mes_santacruz = '02 - Fevereiro'
    pasta_mes_rge = '02 - Fevereiro'
    print(pasta_mes)
elif pasta_mes == '03':
    mes = '03'
    pasta_mes = '03 - Março\*'
    pasta_mes_paulista = '03 - Março'
    pasta_mes_piratininga = '03 - Março'
    pasta_mes_santacruz = '03 - Março'
    pasta_mes_rge = '03 - Março'
    print(pasta_mes)
elif pasta_mes == '04':
    mes = '04'
    pasta_mes = '04 - Abril\*'
    pasta_mes_paulista = '04 - Abril'
    pasta_mes_piratininga = '04 - Abril'
    pasta_mes_santacruz = '04 - Abril'
    pasta_mes_rge = '04 - Abril'
    print(pasta_mes)
elif pasta_mes == '05':
    mes = '05'
    pasta_mes = '05 - Maio\*'
    pasta_mes_paulista = '05 - Maio'
    pasta_mes_piratininga = '05 - Maio'
    pasta_mes_santacruz = '05 - Maio'
    pasta_mes_rge = '05 - Maio'
    print(pasta_mes)
elif pasta_mes == '06':
    mes = '06'
    pasta_mes = '06 - Junho\*'
    pasta_mes_paulista = '06 - Junho'
    pasta_mes_piratininga = '06 - Junho'
    pasta_mes_santacruz = '06 - Junho'
    pasta_mes_rge = '06 - Junho'
    print(pasta_mes)
elif pasta_mes == '07':
    mes = '07'
    pasta_mes = '07 - Julho\*'
    pasta_mes_paulista = '07 - Julho'
    pasta_mes_piratininga = '07 - Julho'
    pasta_mes_santacruz = '07 - Julho'
    pasta_mes_rge = '07 - Julho'
    print(pasta_mes)
elif pasta_mes == '08':
    mes = '08'
    pasta_mes = '08 - Agosto\*'
    pasta_mes_paulista = '08 - Agosto'
    pasta_mes_piratininga = '08 - Agosto'
    pasta_mes_santacruz = '08 - Agosto'
    pasta_mes_rge = '08 - Agosto'
    print(pasta_mes)
elif pasta_mes == '09':
    mes = '09'
    pasta_mes = '09 - Setembro\*'
    pasta_mes_paulista = '09 - Setembro'
    pasta_mes_piratininga = '09 - Setembro'
    pasta_mes_santacruz = '09 - Setembro'
    pasta_mes_rge = '09 - Setembro'
    print(pasta_mes)
elif pasta_mes == '10':
    mes = '10'
    pasta_mes = '10 - Outubro\*'
    pasta_mes_paulista = '10 - Outubro'
    pasta_mes_piratininga = '10 - Outubro'
    pasta_mes_santacruz = '10 - Outubro'
    pasta_mes_rge = '10 - Outubro'
    print(pasta_mes)
elif pasta_mes == '11':
    mes = '11'
    pasta_mes = '11 - Novembro\*'
    pasta_mes_paulista = '11 - Novembro'
    pasta_mes_piratininga = '11 - Novembro'
    pasta_mes_santacruz = '11 - Novembro'
    pasta_mes_rge = '11 - Novembro'
    print(pasta_mes)
elif pasta_mes == '12':
    mes = '12'
    pasta_mes = '12 - Dezembro\*'
    pasta_mes_paulista = '12 - Dezembro'
    pasta_mes_piratininga = '12 - Dezembro'
    pasta_mes_santacruz = '12 - Dezembro'
    pasta_mes_rge = '12 - Dezembro'
    print(pasta_mes)
else:
    print('Mês Inválido')
    
#Pasta onde está os arquivos    
diretorio = os.path.join(pasta,pasta_mes)
arquivos = glob.glob(diretorio)

#Define o diretorio onde será salvo os arquivos consolidados
pasta_paulista = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\1 - Paulista\\2023\\{pasta_mes_paulista}\\2 - Arquivos Consolidados'
pasta_piratininga = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\2 - Piratininga\\2023\\{pasta_mes_piratininga}\\2 - Arquivos Consolidados'
pasta_santacruz = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\3 - Santa Cruz\\2023\\{pasta_mes_santacruz}\\2 - Arquivos Consolidados'
pasta_rge = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\4 - RGE\\2023\\{pasta_mes_rge}\\2 - Arquivos Consolidados'
pasta_paulista_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\1 - Paulista\\2023\\{pasta_mes_paulista}\\1 - Status'
pasta_piratininga_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\2 - Piratininga\\2023\\{pasta_mes_piratininga}\\1 - Status'
pasta_santacruz_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\3 - Santa Cruz\\2023\\{pasta_mes_santacruz}\\1 - Status'
pasta_rge_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\4 - RGE\\2023\\{pasta_mes_rge}\\1 - Status'

Insira o mês (dois dígitos):09
Insira o ano (4 dígitos):2023
09 - Setembro\*

In [3]:
#Colunas
colunas_servicos = ['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005','SERV_006','SERV_007','SERV_008','SERV_009','SERV_010','SERV_011','SERV_012','SERV_013','SERV_014','SERV_015']
colunas_campos = ['SERV_006','SERV_007','SERV_008','SERV_009','SERV_010','SERV_011','SERV_012','SERV_013','SERV_014','SERV_015']
colunas_chaves = ['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005']
colunas_integer = ['SERV_005','SERV_006','SERV_008','SERV_010','SERV_011','SERV_012','SERV_013']
colunas_float = ['SERV_007','SERV_009','SERV_014','SERV_015']
colunas_string = ['SERV_002']
colunas_serv = ['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005','SERV_006','SERV_007','SERV_008','SERV_009','SERV_010','SERV_011','SERV_012','SERV_013','SERV_014','SERV_015']
listas_arquivos = ['SERV_RCC_PauloVictorAmorim']

#Layout com todas as colunas
layout_servicos_colunas = pd.DataFrame(data = [],columns = colunas_servicos)

#Tabela Serviços
tabela_servicos = []

#Duplicadas
df_duplicadas = pd.DataFrame(data = [],columns = colunas_servicos)

#Total de arquivos esperados na pasta
arquivos_total = 1

#Quantidade de arquivos submetidos
arquivos_submetidos = len(arquivos)

#Arquivos faltantes
print('Arquivos faltantes:',(arquivos_total-arquivos_submetidos))

#Flag para mostrar os arquivos faltantes
flag_faltantes = []

#Leitura dos arquivos
for arquivo in arquivos:
    try:
        #Lê o arquivo na pasta
        df_servicos = pd.read_excel(arquivo,sheet_name='SERVICOS',decimal=',')
        
        #Define o mês e o ano
        linhas_df_servicos = range(len(df_servicos.index))
        df_servicos['SERV_003'] = df_servicos['SERV_003'].astype('str')
        for linha in linhas_df_servicos:
            df_servicos.loc[linha,'SERV_003'] = df_servicos.loc[linha,'SERV_003'].zfill(2)
        df_servicos['SERV_004'] = ano
        
        #Valida se foi enviado algum mês fora do mês de referência
        flag_mes = 0
        for linha in linhas_df_servicos:
            if df_servicos.loc[linha,'SERV_003'] != mes:
                flag_mes = 1
        if flag_mes != 0:
            print('MÊS INCORRETO!!!', arquivo)
            
        #Valida se foi enviado algum código da distribuidora incorreto
        flag_distribuidora = 0
        for linha in linhas_df_servicos:
            if df_servicos.loc[linha,'SERV_001'] not in [63,2937,69,396]:
                flag_distribuidora = 1
        if flag_distribuidora != 0:
            print('DISTRIBUIDORA INCORRETA!!!', arquivo)
        
        #Converte as chave para string
        for coluna in colunas_chaves:
            df_servicos[coluna] = df_servicos[coluna].astype('str')
        
        #Empilha as chaves primárias duplicadas
        if df_servicos.duplicated(subset=['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005']).any() == False:
            pass
        else:
            duplicadas = df_servicos[df_servicos.duplicated(subset=['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005'],keep=False)]
            df_duplicadas = df_duplicadas.append(duplicadas,ignore_index=True)
        
        #Empilha todos os arquivos
        layout_servicos_colunas = layout_servicos_colunas.append(df_servicos,ignore_index=True)
        
        #Validação de colunas dos arquivos
        if 'SERV_' in arquivo:
            df_servicos.columns == colunas_serv
            print(arquivo)
            flag_faltantes.append('SERV_RCC_PauloVictorAmorim')
        else:
            print('Arquivo com colunas divergentes',arquivo)
            
        
    except Exception as err:
        print('Arquivo com erro:',err)
        
#Exclui as linhas duplicadas
df_duplicadas = df_duplicadas.drop_duplicates(ignore_index=True)

#Compara se há chaves primárias duplicadas
if df_duplicadas.duplicated(subset=['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005']).any() == False:
    print('Não há chaves duplicadas')
else:
    print('Há chaves duplicadas', arquivo)
    #Mostra as chaves duplicadas
    df_duplicadas = df_duplicadas[df_duplicadas.duplicated(subset=['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005'],keep=False)]
    df_duplicadas.to_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Erros Duplicadas\duplicadas_servicos.xlsx')
    display(df_duplicadas)
        

#Reporta os arquivos faltantes
for lista_arquivos in listas_arquivos:
    if lista_arquivos not in flag_faltantes:
        print(f'Arquivo faltante: {lista_arquivos}')

Arquivos faltantes: 0
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\SERVICOS\2023\09 - Setembro\SERV_RCC_PauloVictorAmorim_09_2023.xlsx
Não há chaves duplicadas

In [4]:
#Dropa as linhas duplicadas
layout_servicos_colunas = layout_servicos_colunas.drop_duplicates(ignore_index=True)

#Empilha os dataframe
tabela_servicos = layout_servicos_colunas.groupby(['SERV_001','SERV_002','SERV_003','SERV_004','SERV_005'],as_index=False).max()
print('Dados empilhados')

Dados empilhados

In [5]:
#Define o mês e o ano
linhas = range(len(tabela_servicos.index))
tabela_servicos['SERV_003'] = tabela_servicos['SERV_003'].astype('str')
for linha in linhas:
    tabela_servicos.loc[linha,'SERV_003'] = tabela_servicos.loc[linha,'SERV_003'].zfill(2)
tabela_servicos['SERV_004'] = ano

In [6]:
display(tabela_servicos)

,SERV_001,SERV_002,SERV_003,SERV_004,SERV_005,SERV_006,SERV_007,SERV_008,SERV_009,SERV_010,SERV_011,SERV_012,SERV_013,SERV_014,SERV_015
0,2937,3501152,09,2023,1,165,0.012121,0,0.0,165,0,0,0,0.0,0.0
1,2937,3501152,09,2023,28,1,69.000000,0,0.0,0,0,0,0,0.0,0.0
2,2937,3501152,09,2023,33,21,3.809524,0,0.0,20,0,0,0,0.0,0.0
3,2937,3501152,09,2023,34,1,4.000000,0,0.0,0,0,0,0,0.0,0.0
4,2937,3501152,09,2023,39,4,1.000000,0,0.0,4,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16451,69,4121802,09,2023,9,7,21.000000,0,0.0,5,3,0,0,0.0,0.0
16452,69,4121802,09,2023,90,0,0.000000,0,0.0,0,0,0,0,0.0,0.0
16453,69,4121802,09,2023,91,0,0.000000,0,0.0,0,0,0,0,0.0,0.0
16454,69,4121802,09,2023,92,0,0.000000,0,0.0,0,0,0,0,0.0,0.0
16455,69,4121802,09,2023,93,1131,0.000000,0,0.0,1131,0,0,0,0.0,0.0

In [7]:
#Verifica se há chaves nulas
tabela_servicos = tabela_servicos.replace('nan',np.nan)

for coluna in colunas_chaves:
    if tabela_servicos[coluna].isnull().any() == True:
        print('Existe Chave Primária Nula: ',coluna)

In [8]:
#Define o mês e o ano das Chaves Primárias
chaves_paulista['SERV_003'] = int(mes)
chaves_piratininga['SERV_003'] = int(mes)
chaves_santacruz['SERV_003'] = int(mes)
chaves_rge['SERV_003'] = int(mes)
chaves_paulista['SERV_004'] = int(ano)
chaves_piratininga['SERV_004'] = int(ano)
chaves_santacruz['SERV_004'] = int(ano)
chaves_rge['SERV_004'] = int(ano)

#Seleciona somente as colunas das chaves primárias
chaves_paulista = chaves_paulista[['SERV_001','SERV_002','SERV_003','SERV_004']]
chaves_piratininga = chaves_piratininga[['SERV_001','SERV_002','SERV_003','SERV_004']]
chaves_santacruz = chaves_santacruz[['SERV_001','SERV_002','SERV_003','SERV_004']]
chaves_rge = chaves_rge[['SERV_001','SERV_002','SERV_003','SERV_004']]

# Validação dos Dados

In [9]:
# Validação de número negativo
try:
    for coluna in colunas_campos:
        if tabela_servicos[coluna].min() < 0:
            print('Temos dados negativos:',coluna)
        
except:
    print('Erro na coluna:',coluna)

In [10]:
#Separa a tabela por distribuidora
df_servicos_paulista = tabela_servicos.loc[tabela_servicos['SERV_001'] == '63']
df_servicos_piratininga = tabela_servicos.loc[tabela_servicos['SERV_001'] == '2937']
df_servicos_santacruz = tabela_servicos.loc[tabela_servicos['SERV_001'] == '69']
df_servicos_rge = tabela_servicos.loc[tabela_servicos['SERV_001'] == '396']

In [11]:
# PAULISTA 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_paulista=[]
for coluna in df_servicos_paulista.columns:
    if df_servicos_paulista[coluna].isnull().all():
        indicadores_nao_recebidos_paulista.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_servicos, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_paulista))

status_recebimento_servicos_paulista = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_servicos_paulista.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_servicos_paulista = status_recebimento_servicos_paulista.reindex(columns = ['Indicador','Status'])
status_recebimento_servicos_paulista.insert(loc=2,column='Distribuidora',value='Paulista')
status_recebimento_servicos_paulista.to_excel(os.path.join(pasta_paulista_status,'status_recebimento_servicos_paulista.xlsx'))
status_recebimento_servicos_paulista

   Indicador  Status Distribuidora
0   SERV_001    True      Paulista
1   SERV_002    True      Paulista
2   SERV_003    True      Paulista
3   SERV_004    True      Paulista
4   SERV_005    True      Paulista
5   SERV_006    True      Paulista
6   SERV_007    True      Paulista
7   SERV_008    True      Paulista
8   SERV_009    True      Paulista
9   SERV_010    True      Paulista
10  SERV_011    True      Paulista
11  SERV_012    True      Paulista
12  SERV_013    True      Paulista
13  SERV_014    True      Paulista
14  SERV_015    True      Paulista

In [12]:
# Piratininga 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_piratininga=[]
for coluna in df_servicos_piratininga.columns:
    if df_servicos_piratininga[coluna].isnull().all():
        indicadores_nao_recebidos_piratininga.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_servicos, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_piratininga))

status_recebimento_servicos_piratininga = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_servicos_piratininga.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_servicos_piratininga = status_recebimento_servicos_piratininga.reindex(columns = ['Indicador','Status'])
status_recebimento_servicos_piratininga.insert(loc=2,column='Distribuidora',value='Piratininga')
status_recebimento_servicos_piratininga.to_excel(os.path.join(pasta_piratininga_status,'status_recebimento_servicos_piratininga.xlsx'))
status_recebimento_servicos_piratininga

   Indicador  Status Distribuidora
0   SERV_001    True   Piratininga
1   SERV_002    True   Piratininga
2   SERV_003    True   Piratininga
3   SERV_004    True   Piratininga
4   SERV_005    True   Piratininga
5   SERV_006    True   Piratininga
6   SERV_007    True   Piratininga
7   SERV_008    True   Piratininga
8   SERV_009    True   Piratininga
9   SERV_010    True   Piratininga
10  SERV_011    True   Piratininga
11  SERV_012    True   Piratininga
12  SERV_013    True   Piratininga
13  SERV_014    True   Piratininga
14  SERV_015    True   Piratininga

In [13]:
# Santa Cruz 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_santacruz=[]
for coluna in df_servicos_santacruz.columns:
    if df_servicos_santacruz[coluna].isnull().all():
        indicadores_nao_recebidos_santacruz.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_servicos, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_santacruz))

status_recebimento_servicos_santacruz = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_servicos_santacruz.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_servicos_santacruz = status_recebimento_servicos_santacruz.reindex(columns = ['Indicador','Status'])
status_recebimento_servicos_santacruz.insert(loc=2,column='Distribuidora',value='Santa Cruz')
status_recebimento_servicos_santacruz.to_excel(os.path.join(pasta_santacruz_status,'status_recebimento_servicos_santacruz.xlsx'))
status_recebimento_servicos_santacruz

   Indicador  Status Distribuidora
0   SERV_001    True    Santa Cruz
1   SERV_002    True    Santa Cruz
2   SERV_003    True    Santa Cruz
3   SERV_004    True    Santa Cruz
4   SERV_005    True    Santa Cruz
5   SERV_006    True    Santa Cruz
6   SERV_007    True    Santa Cruz
7   SERV_008    True    Santa Cruz
8   SERV_009    True    Santa Cruz
9   SERV_010    True    Santa Cruz
10  SERV_011    True    Santa Cruz
11  SERV_012    True    Santa Cruz
12  SERV_013    True    Santa Cruz
13  SERV_014    True    Santa Cruz
14  SERV_015    True    Santa Cruz

In [14]:
# RGE
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_rge=[]
for coluna in df_servicos_rge.columns:
    if df_servicos_rge[coluna].isnull().all():
        indicadores_nao_recebidos_rge.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_servicos, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_rge))

status_recebimento_servicos_rge = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_servicos_rge.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_servicos_rge = status_recebimento_servicos_rge.reindex(columns = ['Indicador','Status'])
status_recebimento_servicos_rge.insert(loc=2,column='Distribuidora',value='RGE')
status_recebimento_servicos_rge.to_excel(os.path.join(pasta_rge_status,'status_recebimento_servicos_rge.xlsx'))
status_recebimento_servicos_rge

   Indicador  Status Distribuidora
0   SERV_001    True           RGE
1   SERV_002    True           RGE
2   SERV_003    True           RGE
3   SERV_004    True           RGE
4   SERV_005    True           RGE
5   SERV_006    True           RGE
6   SERV_007    True           RGE
7   SERV_008    True           RGE
8   SERV_009    True           RGE
9   SERV_010    True           RGE
10  SERV_011    True           RGE
11  SERV_012    True           RGE
12  SERV_013    True           RGE
13  SERV_014    True           RGE
14  SERV_015    True           RGE

In [15]:
# Define os dataframe
df_servicos_paulista_join = df_servicos_paulista
df_servicos_piratininga_join = df_servicos_piratininga 
df_servicos_santacruz_join = df_servicos_santacruz
df_servicos_rge_join = df_servicos_rge

In [16]:
display(df_servicos_paulista_join)

,SERV_001,SERV_002,SERV_003,SERV_004,SERV_005,SERV_006,SERV_007,SERV_008,SERV_009,SERV_010,SERV_011,SERV_012,SERV_013,SERV_014,SERV_015
9294,63,3500501,09,2023,1,548,0.014599,0,0.0,549,2,0,0,0.0,0.0
9295,63,3500501,09,2023,20,1,76.000000,0,0.0,0,1,0,0,0.0,0.0
9296,63,3500501,09,2023,33,64,1.718750,0,0.0,64,1,0,0,0.0,0.0
9297,63,3500501,09,2023,34,8,2.250000,0,0.0,11,2,0,0,0.0,0.0
9298,63,3500501,09,2023,39,4,1.000000,0,0.0,4,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15342,63,3556909,09,2023,9,2,25.000000,0,0.0,1,1,0,0,0.0,0.0
15343,63,3556909,09,2023,90,5,8.400000,0,0.0,3,0,1,0,0.0,0.0
15344,63,3556909,09,2023,91,0,0.000000,0,0.0,0,0,0,0,0.0,0.0
15345,63,3556909,09,2023,92,0,0.000000,0,0.0,3,3,0,0,0.0,0.0
15346,63,3556909,09,2023,93,636,0.000000,0,0.0,636,0,0,0,0.0,0.0

# Tratamento, Limpeza e Conversão

In [17]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Paulista
#Conversão do Código da distribuidora para o CNPJ
df_servicos_paulista_join['SERV_001'] = df_servicos_paulista_join['SERV_001'].replace('63','33050196000188')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_servicos_paulista_join[coluna_integer] = df_servicos_paulista_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_servicos_paulista_join[coluna_float] = df_servicos_paulista_join[coluna_float].replace(np.nan,0).astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)

Colunas integer convertidas:  SERV_005
Colunas integer convertidas:  SERV_006
Colunas integer convertidas:  SERV_008
Colunas integer convertidas:  SERV_010
Colunas integer convertidas:  SERV_011
Colunas integer convertidas:  SERV_012
Colunas integer convertidas:  SERV_013
Colunas float convertidas:  SERV_007
Colunas float convertidas:  SERV_009
Colunas float convertidas:  SERV_014
Colunas float convertidas:  SERV_015

In [18]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Piratininga
#Conversão do Código da distribuidora para o CNPJ
df_servicos_piratininga_join['SERV_001'] = df_servicos_piratininga_join['SERV_001'].replace('2937','04172213000151')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_servicos_piratininga_join[coluna_integer] = df_servicos_piratininga_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_servicos_piratininga_join[coluna_float] = df_servicos_piratininga_join[coluna_float].replace(np.nan,0).astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)

Colunas integer convertidas:  SERV_005
Colunas integer convertidas:  SERV_006
Colunas integer convertidas:  SERV_008
Colunas integer convertidas:  SERV_010
Colunas integer convertidas:  SERV_011
Colunas integer convertidas:  SERV_012
Colunas integer convertidas:  SERV_013
Colunas float convertidas:  SERV_007
Colunas float convertidas:  SERV_009
Colunas float convertidas:  SERV_014
Colunas float convertidas:  SERV_015

In [19]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Santa Cruz
#Conversão do Código da distribuidora para o CNPJ
df_servicos_santacruz_join['SERV_001'] = df_servicos_santacruz_join['SERV_001'].replace('69','53859112000169')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_servicos_santacruz_join[coluna_integer] = df_servicos_santacruz_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_servicos_santacruz_join[coluna_float] = df_servicos_santacruz_join[coluna_float].replace(np.nan,0).astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)

Colunas integer convertidas:  SERV_005
Colunas integer convertidas:  SERV_006
Colunas integer convertidas:  SERV_008
Colunas integer convertidas:  SERV_010
Colunas integer convertidas:  SERV_011
Colunas integer convertidas:  SERV_012
Colunas integer convertidas:  SERV_013
Colunas float convertidas:  SERV_007
Colunas float convertidas:  SERV_009
Colunas float convertidas:  SERV_014
Colunas float convertidas:  SERV_015

In [20]:
#Tratamento, Limpeza e Conversão do tipo do dado
#RGE
#Conversão do Código da distribuidora para o CNPJ
df_servicos_rge_join['SERV_001'] = df_servicos_rge_join['SERV_001'].replace('396','02016440000162')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_servicos_rge_join[coluna_integer] = df_servicos_rge_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_servicos_rge_join[coluna_float] = df_servicos_rge_join[coluna_float].replace(np.nan,0).astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)

Colunas integer convertidas:  SERV_005
Colunas integer convertidas:  SERV_006
Colunas integer convertidas:  SERV_008
Colunas integer convertidas:  SERV_010
Colunas integer convertidas:  SERV_011
Colunas integer convertidas:  SERV_012
Colunas integer convertidas:  SERV_013
Colunas float convertidas:  SERV_007
Colunas float convertidas:  SERV_009
Colunas float convertidas:  SERV_014
Colunas float convertidas:  SERV_015

# Validação por Município

In [21]:
#Validação de Municipio
#Paulista
#Define os municipios
municipios_paulista = chaves_paulista[['SERV_002']].astype('str')
municipios_servicos_paulista = df_servicos_paulista[['SERV_002']]

#Cruza os municipios existentes com os municipios do arquivo
municipios_paulista_join = municipios_paulista.merge(municipios_servicos_paulista,indicator=True,on='SERV_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_paulista_join[municipios_paulista_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [SERV_002, _merge]
Index: []

In [22]:
#Validação de Municipio
#Piratininga
#Define os municipios
municipios_piratininga = chaves_piratininga[['SERV_002']].astype('str')
municipios_servicos_piratininga = df_servicos_piratininga[['SERV_002']]

#Cruza os municipios existentes com os municipios do arquivo
municipios_piratininga_join = municipios_piratininga.merge(municipios_servicos_piratininga,indicator=True,on='SERV_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_piratininga_join[municipios_piratininga_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [SERV_002, _merge]
Index: []

In [23]:
#Validação de Municipio
#Santa Cruz
#Define os municipios
municipios_santacruz = chaves_santacruz[['SERV_002']].astype('str')
municipios_servicos_santacruz = df_servicos_santacruz[['SERV_002']]

#Cruza os municipios existentes com os municipios do arquivo
municipios_santacruz_join = municipios_santacruz.merge(municipios_servicos_santacruz,indicator=True,on='SERV_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_santacruz_join[municipios_santacruz_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [SERV_002, _merge]
Index: []

In [24]:
#Validação de Municipio
#RGE
#Define os municipios
municipios_rge = chaves_rge[['SERV_002']].astype('str')
municipios_servicos_rge = df_servicos_rge[['SERV_002']]

#Cruza os municipios existentes com os municipios do arquivo
municipios_rge_join = municipios_rge.merge(municipios_servicos_rge,indicator=True,on='SERV_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_rge_join[municipios_rge_join['_merge'] == 'right_only'].drop_duplicates()

Empty DataFrame
Columns: [SERV_002, _merge]
Index: []

# Exportação dos Dados

In [25]:
#Paulista
arquivo = 'SERVICOS.csv'
df_servicos_paulista_join.to_csv(os.path.join(pasta_paulista,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [26]:
#Piratininga
arquivo = 'SERVICOS.csv'
df_servicos_piratininga_join.to_csv(os.path.join(pasta_piratininga,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [27]:
#Santa Cruz
arquivo = 'SERVICOS.csv'
df_servicos_santacruz_join.to_csv(os.path.join(pasta_santacruz,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [28]:
#RGE
arquivo = 'SERVICOS.csv'
df_servicos_rge_join.to_csv(os.path.join(pasta_rge,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')