In [1]:
#Bibliotecas
import pandas as pd
import numpy as np
import keyring
import cx_Oracle
import os
import glob
import math
import warnings
warnings.filterwarnings("ignore")

# Dados de Entrada

In [2]:
#Dados de entrada
#Pasta TEC_AL para ano 2023
pasta = r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023'

#Chaves Primárias
chaves_paulista = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECAL\INDGER2.0_TECAL_Chaves.xlsx',sheet_name='Paulista')
chaves_piratininga = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECAL\INDGER2.0_TECAL_Chaves.xlsx',sheet_name='Piratininga')
chaves_santacruz = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECAL\INDGER2.0_TECAL_Chaves.xlsx',sheet_name='Santa Cruz')
chaves_rge = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECAL\INDGER2.0_TECAL_Chaves.xlsx',sheet_name='RGE')

#Selecionar pasta do mes de referência
pasta_mes = input('Insira o mês (dois dígitos):')
ano = input('Insira o ano (4 dígitos):')
if pasta_mes == '01':
    mes = '01'
    pasta_mes = '01 - Janeiro\*'
    pasta_mes_paulista = '01 - Janeiro'
    pasta_mes_piratininga = '01 - Janeiro'
    pasta_mes_santacruz = '01 - Janeiro'
    pasta_mes_rge = '01 - Janeiro'
    print(pasta_mes)
elif pasta_mes == '02':
    mes = '02'
    pasta_mes = '02 - Fevereiro\*'
    pasta_mes_paulista = '02 - Fevereiro'
    pasta_mes_piratininga = '02 - Fevereiro'
    pasta_mes_santacruz = '02 - Fevereiro'
    pasta_mes_rge = '02 - Fevereiro'
    print(pasta_mes)
elif pasta_mes == '03':
    mes = '03'
    pasta_mes = '03 - Março\*'
    pasta_mes_paulista = '03 - Março'
    pasta_mes_piratininga = '03 - Março'
    pasta_mes_santacruz = '03 - Março'
    pasta_mes_rge = '03 - Março'
    print(pasta_mes)
elif pasta_mes == '04':
    mes = '04'
    pasta_mes = '04 - Abril\*'
    pasta_mes_paulista = '04 - Abril'
    pasta_mes_piratininga = '04 - Abril'
    pasta_mes_santacruz = '04 - Abril'
    pasta_mes_rge = '04 - Abril'
    print(pasta_mes)
elif pasta_mes == '05':
    mes = '05'
    pasta_mes = '05 - Maio\*'
    pasta_mes_paulista = '05 - Maio'
    pasta_mes_piratininga = '05 - Maio'
    pasta_mes_santacruz = '05 - Maio'
    pasta_mes_rge = '05 - Maio'
    print(pasta_mes)
elif pasta_mes == '06':
    mes = '06'
    pasta_mes = '06 - Junho\*'
    pasta_mes_paulista = '06 - Junho'
    pasta_mes_piratininga = '06 - Junho'
    pasta_mes_santacruz = '06 - Junho'
    pasta_mes_rge = '06 - Junho'
    print(pasta_mes)
elif pasta_mes == '07':
    mes = '07'
    pasta_mes = '07 - Julho\*'
    pasta_mes_paulista = '07 - Julho'
    pasta_mes_piratininga = '07 - Julho'
    pasta_mes_santacruz = '07 - Julho'
    pasta_mes_rge = '07 - Julho'
    print(pasta_mes)
elif pasta_mes == '08':
    mes = '08'
    pasta_mes = '08 - Agosto\*'
    pasta_mes_paulista = '08 - Agosto'
    pasta_mes_piratininga = '08 - Agosto'
    pasta_mes_santacruz = '08 - Agosto'
    pasta_mes_rge = '08 - Agosto'
    print(pasta_mes)
elif pasta_mes == '09':
    mes = '09'
    pasta_mes = '09 - Setembro\*'
    pasta_mes_paulista = '09 - Setembro'
    pasta_mes_piratininga = '09 - Setembro'
    pasta_mes_santacruz = '09 - Setembro'
    pasta_mes_rge = '09 - Setembro'
    print(pasta_mes)
elif pasta_mes == '10':
    mes = '10'
    pasta_mes = '10 - Outubro\*'
    pasta_mes_paulista = '10 - Outubro'
    pasta_mes_piratininga = '10 - Outubro'
    pasta_mes_santacruz = '10 - Outubro'
    pasta_mes_rge = '10 - Outubro'
    print(pasta_mes)
elif pasta_mes == '11':
    mes = '11'
    pasta_mes = '11 - Novembro\*'
    pasta_mes_paulista = '11 - Novembro'
    pasta_mes_piratininga = '11 - Novembro'
    pasta_mes_santacruz = '11 - Novembro'
    pasta_mes_rge = '11 - Novembro'
    print(pasta_mes)
elif pasta_mes == '12':
    mes = '12'
    pasta_mes = '12 - Dezembro\*'
    pasta_mes_paulista = '12 - Dezembro'
    pasta_mes_piratininga = '12 - Dezembro'
    pasta_mes_santacruz = '12 - Dezembro'
    pasta_mes_rge = '12 - Dezembro'
    print(pasta_mes)
else:
    print('Mês Inválido')
    
#Pasta onde está os arquivos    
diretorio = os.path.join(pasta,pasta_mes)
arquivos = glob.glob(diretorio)

#Define o diretorio onde será salvo os arquivos consolidados
pasta_paulista = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\1 - Paulista\\2023\\{pasta_mes_paulista}\\2 - Arquivos Consolidados'
pasta_piratininga = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\2 - Piratininga\\2023\\{pasta_mes_piratininga}\\2 - Arquivos Consolidados'
pasta_santacruz = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\3 - Santa Cruz\\2023\\{pasta_mes_santacruz}\\2 - Arquivos Consolidados'
pasta_rge = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\4 - RGE\\2023\\{pasta_mes_rge}\\2 - Arquivos Consolidados'
pasta_paulista_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\1 - Paulista\\2023\\{pasta_mes_paulista}\\1 - Status'
pasta_piratininga_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\2 - Piratininga\\2023\\{pasta_mes_piratininga}\\1 - Status'
pasta_santacruz_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\3 - Santa Cruz\\2023\\{pasta_mes_santacruz}\\1 - Status'
pasta_rge_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\4 - RGE\\2023\\{pasta_mes_rge}\\1 - Status'

Insira o mês (dois dígitos):10
Insira o ano (4 dígitos):2023
10 - Outubro\*

In [3]:
#Colunas
colunas_tecal = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_006','TECAL_007','TECAL_008','TECAL_009','TECAL_010','TECAL_011','TECAL_012','TECAL_013','TECAL_014']
colunas_campos = ['TECAL_006','TECAL_007','TECAL_008','TECAL_009','TECAL_010','TECAL_011','TECAL_012','TECAL_013','TECAL_014']
colunas_chaves = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005']
colunas_integer = ['TECAL_002','TECAL_006','TECAL_007','TECAL_008','TECAL_009','TECAL_010','TECAL_011','TECAL_012','TECAL_013']
colunas_float = ['TECAL_014']
colunas_string = ['TECAL_005']
colunas_mes = ['TECAL_008','TECAL_009','TECAL_010','TECAL_011','TECAL_012','TECAL_013']
colunas_djom = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_012','TECAL_013']
colunas_dpo = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_012','TECAL_013']
colunas_drof = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_012','TECAL_013']
colunas_drt = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_006','TECAL_008','TECAL_009','TECAL_010','TECAL_011','TECAL_012','TECAL_013']
colunas_rcc = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_007']
colunas_regd = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_006','TECAL_008','TECAL_009','TECAL_010','TECAL_011']
colunas_ropt = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_014']
colunas_ros = ['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005','TECAL_014']
listas_arquivos = ['TECAL_DJOM_AndersonDelPoco','TECAL_DPO_AlexSandro','TECAL_DROF_DiegoDeOliveira','TECAL_DRT_DiegoPereiraSoares','TECAL_RCC_DouglasAlves','TECAL_REGD_JoseAmerico','TECAL_ROPT_PaulaMitiko','TECAL_ROS_CristianoGattermann']

#Layout com todas as colunas
layout_tecal_colunas = pd.DataFrame(data = [],columns = colunas_tecal)

#Tabela TECAL
tabela_tecal = []

#Duplicadas
df_duplicadas = pd.DataFrame(data = [],columns = colunas_tecal)

#Total de arquivos esperados na pasta
arquivos_total = 9

#Quantidade de arquivos submetidos
arquivos_submetidos = len(arquivos)

#Arquivos faltantes
print('Arquivos faltantes:',(arquivos_total-arquivos_submetidos))

#Flag para mostrar os arquivos faltantes
flag_faltantes = []

#Leitura dos arquivos
for arquivo in arquivos:
    try:
        #Lê o arquivo na pasta
        df_tecal = pd.read_excel(arquivo,sheet_name='TEC_AL', decimal=',')
        
        #Define o mês e o ano
        linhas_df_tecal = range(len(df_tecal.index))
        df_tecal['TECAL_003'] = df_tecal['TECAL_003'].astype('str')
        for linha in linhas_df_tecal:
            df_tecal.loc[linha,'TECAL_003'] = df_tecal.loc[linha,'TECAL_003'].zfill(2)
        df_tecal['TECAL_004'] = ano
        
        #Valida se foi enviado algum mês fora do mês de referência
        flag_mes = 0
        for linha in linhas_df_tecal:
            if df_tecal.loc[linha,'TECAL_003'] != mes:
                flag_mes = 1
        if flag_mes != 0:
            print('MÊS INCORRETO!!!', arquivo)
            
        #Valida se foi enviado algum código da distribuidora incorreto
        flag_distribuidora = 0
        for linha in linhas_df_tecal:
            if df_tecal.loc[linha,'TECAL_001'] not in [63,2937,69,396]:
                flag_distribuidora = 1
        if flag_distribuidora != 0:
            print('DISTRIBUIDORA INCORRETA!!!', arquivo)
        
        #Converte as chave para string
        for coluna in colunas_chaves:
            df_tecal[coluna] = df_tecal[coluna].astype('str')
        
        #Empilha as chaves primárias duplicadas
        if df_tecal.duplicated(subset=['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005']).any() == False:
            pass
        else:
            duplicadas = df_tecal[df_tecal.duplicated(subset=['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005'],keep=False)]
            df_duplicadas = df_duplicadas.append(duplicadas,ignore_index=True)
            
        #Empilha todos os arquivos
        layout_tecal_colunas = layout_tecal_colunas.append(df_tecal,ignore_index=True)
        
        #Validação de colunas dos arquivos
        if 'TECAL_DJOM' in arquivo:
            df_tecal.columns == colunas_djom
            print(arquivo)
            flag_faltantes.append('TECAL_DJOM_AndersonDelPoco')
        elif 'TECAL_DPO' in arquivo:
            df_tecal.columns == colunas_dpo
            print(arquivo)
            flag_faltantes.append('TECAL_DPO_AlexSandro')
        elif 'TECAL_DROF' in arquivo:
            df_tecal.columns == colunas_drof
            print(arquivo)
            flag_faltantes.append('TECAL_DROF_DiegoDeOliveira')
        elif 'TECAL_DRT' in arquivo:
            df_tecal.columns == colunas_drt
            print(arquivo)
            flag_faltantes.append('TECAL_DRT_DiegoPereiraSoares')
        elif 'TECAL_RCC' in arquivo:
            df_tecal.columns == colunas_rcc
            print(arquivo)
            flag_faltantes.append('TECAL_RCC_DouglasAlves')
        elif 'TECAL_REGD' in arquivo:
            df_tecal.columns == colunas_regd
            print(arquivo)
            flag_faltantes.append('TECAL_REGD_JoseAmerico')
        elif 'TECAL_ROPT' in arquivo:
            df_tecal.columns == colunas_ropt
            print(arquivo)
            flag_faltantes.append('TECAL_ROPT_PaulaMitiko')
        elif 'TECAL_ROS' in arquivo:
            df_tecal.columns == colunas_ros
            print(arquivo)
            flag_faltantes.append('TECAL_ROS_CristianoGattermann')
        else:
            print('Arquivo com colunas divergentes',arquivo)
            
        
    except Exception as err:
        print('Arquivo com erro:',err)
        
#Exclui as linhas duplicadas
df_duplicadas = df_duplicadas.drop_duplicates(ignore_index=True)

#Compara se há chaves primárias duplicadas
if df_duplicadas.duplicated(subset=['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005']).any() == False:
    print('Não há chaves duplicadas')
else:
    print('Há chaves duplicadas', arquivo)
    #Mostra as chaves duplicadas
    df_duplicadas = df_duplicadas[df_duplicadas.duplicated(subset=['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005'],keep=False)]
    df_duplicadas.to_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Erros Duplicadas\duplicadas_tecal.xlsx')
    display(df_duplicadas)
    
    
#Reporta os arquivos faltantes
for lista_arquivos in listas_arquivos:
    if lista_arquivos not in flag_faltantes:
        print(f'Arquivo faltante: {lista_arquivos}')

Arquivos faltantes: 0
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_DJOM_AndersonDelPoco_Piratininga_Out.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_DJOM_AndersonDelPoco_SantaCruz_Out.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_DPO_AlexSandroTheodoro.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_DROF_CarlosEduardoSpreng.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_DRT_DiegoPereiraSoares.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_RCCP_AndreBenincasa_10_2023.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_REGD_JoseAmerico.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_ROPT_PaulaMitiko.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_AL\2023\10 - Outubro\TECAL_ROS_CristianoGattermann.xlsx
Não há chaves duplicadas

In [4]:
#Dropa as linhas duplicadas
layout_tecal_colunas = layout_tecal_colunas.drop_duplicates(ignore_index=True)

#Empilha os dataframe
tabela_tecal = layout_tecal_colunas.groupby(['TECAL_001','TECAL_002','TECAL_003','TECAL_004','TECAL_005'],as_index=False).max()
print('Dados empilhados')

Dados empilhados

In [5]:
#Define o mês e o ano
linhas = range(len(tabela_tecal.index))
tabela_tecal['TECAL_003'] = tabela_tecal['TECAL_003'].astype('str')
for linha in linhas:
    tabela_tecal.loc[linha,'TECAL_003'] = tabela_tecal.loc[linha,'TECAL_003'].zfill(2)
tabela_tecal['TECAL_004'] = ano

In [6]:
display(tabela_tecal)
#layout_tecal_colunas.to_excel(r'C:\Users\2018459\OneDrive - CPFL Energia S A\Documentos\Projetos\2023\INDGER 2.0\2 - Dados\TESTE.xlsx')

,TECAL_001,TECAL_002,TECAL_003,TECAL_004,TECAL_005,TECAL_006,TECAL_007,TECAL_008,TECAL_009,TECAL_010,TECAL_011,TECAL_012,TECAL_013,TECAL_014
0,2937,13480,10,2023,BOQ32,3851.0,5.0,9.0,2023.0,2.0,2023.0,NaN,NaN,45.980000
1,2937,13480,10,2023,BOQ33,1620.0,3.0,9.0,2023.0,12.0,2022.0,NaN,NaN,55.399998
2,2937,13480,10,2023,BOQ34,4701.0,10.0,9.0,2023.0,9.0,2023.0,4.0,2022.0,79.360001
3,2937,13480,10,2023,BOQ35,2209.0,4.0,9.0,2023.0,9.0,2023.0,NaN,NaN,51.279999
4,2937,13480,10,2023,BOQ36,1891.0,9.0,2.0,2023.0,2.0,2023.0,NaN,NaN,55.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857,69,964,10,2023,PDA23,3177.0,95.0,1.0,2023.0,9.0,2023.0,6.0,2019.0,90.250000
4858,69,964,10,2023,PDA24,1566.0,186.0,5.0,2021.0,5.0,2021.0,4.0,2023.0,71.500000
4859,69,964,10,2023,PDA25,2068.0,71.0,10.0,2021.0,1.0,2022.0,1.0,2020.0,73.750000
4860,69,964,10,2023,PDA26,1943.0,107.0,3.0,2022.0,12.0,2022.0,1.0,2021.0,60.000000
4861,69,964,10,2023,UBF01,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

In [7]:
#Verifica se há chaves nulas
tabela_tecal = tabela_tecal.replace('nan',np.nan)

for coluna in colunas_chaves:
    if tabela_tecal[coluna].isnull().any() == True:
        print('Existe Chave Primária Nula: ',coluna)

In [8]:
#Define o mês e o ano das Chaves Primárias
chaves_paulista['TECAL_003'] = str(mes)
chaves_piratininga['TECAL_003'] = str(mes)
chaves_santacruz['TECAL_003'] = str(mes)
chaves_rge['TECAL_003'] = str(mes)
chaves_paulista['TECAL_004'] = str(ano)
chaves_piratininga['TECAL_004'] = str(ano)
chaves_santacruz['TECAL_004'] = str(ano)
chaves_rge['TECAL_004'] = str(ano)

#Seleciona somente as colunas das chaves primárias
chaves_paulista = chaves_paulista[['TECAL_001','TECAL_002','TECAL_003','TECAL_004']]
chaves_piratininga = chaves_piratininga[['TECAL_001','TECAL_002','TECAL_003','TECAL_004']]
chaves_santacruz = chaves_santacruz[['TECAL_001','TECAL_002','TECAL_003','TECAL_004']]
chaves_rge = chaves_rge[['TECAL_001','TECAL_002','TECAL_003','TECAL_004']]

# Validação de Dados

In [9]:
# Validação de número negativo
try:
    for coluna in colunas_campos:
        if tabela_tecal[coluna].min() < 0:
            print('Temos dados negativos:',coluna)
        
except:
    print('Erro na coluna:',coluna)

In [10]:
#Define as linhas do dataframe
linhas_tecal = range(len(tabela_tecal.index))

#Validação do percentual de carregamento
for linha_tecal in linhas_tecal:
    if tabela_tecal.loc[linha_tecal,'TECAL_014'] > 100:
        print('Valor inválido',tabela_tecal.loc[linha_tecal,'TECAL_014'])

Valor inválido 100.22428551274834
Valor inválido 105.28482197418263
Valor inválido 112.322319451039
Valor inválido 104.81158613549417
Valor inválido 114.17892596844455
Valor inválido 100.45935171295643
Valor inválido 125.30312853489214
Valor inválido 123.321564527134
Valor inválido 107.09951299498306
Valor inválido 103.4980291082564
Valor inválido 127.24364532197679
Valor inválido 121.5811929561707
Valor inválido 110.36674474924155
Valor inválido 120.48514438290702
Valor inválido 110.13376139882726
Valor inválido 107.0198131351928
Valor inválido 107.0198131351928
Valor inválido 104.9072529595097
Valor inválido 113.38816622128209
Valor inválido 130.4149974601962
Valor inválido 105.45516304347827
Valor inválido 125.15003404228517
Valor inválido 104.25996079088982
Valor inválido 126.596172951599
Valor inválido 124.28412953951245
Valor inválido 103.00717957315675
Valor inválido 127.82192295102273
Valor inválido 108.90710559836569
Valor inválido 117.70534370000507
Valor inválido 110.65334459780503
Valor inválido 106.62524475260136
Valor inválido 108.21224799650548

In [11]:
#Separa a tabela por distribuidora para verificar se há colunas nulas
df_tecal_paulista = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '63']
df_tecal_piratininga = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '2937']
df_tecal_santacruz = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '69']
df_tecal_rge = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '396']

In [12]:
# PAULISTA 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_paulista=[]
for coluna in df_tecal_paulista.columns:
    if df_tecal_paulista[coluna].isnull().all():
        indicadores_nao_recebidos_paulista.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecal, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_paulista))

status_recebimento_tecal_paulista = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecal_paulista.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecal_paulista = status_recebimento_tecal_paulista.reindex(columns = ['Indicador','Status'])
status_recebimento_tecal_paulista.insert(loc=2,column='Distribuidora',value='Paulista')
status_recebimento_tecal_paulista.to_excel(os.path.join(pasta_paulista_status,'status_recebimento_tecal_paulista.xlsx'))
status_recebimento_tecal_paulista

    Indicador  Status Distribuidora
0   TECAL_001    True      Paulista
1   TECAL_002    True      Paulista
2   TECAL_003    True      Paulista
3   TECAL_004    True      Paulista
4   TECAL_005    True      Paulista
5   TECAL_006    True      Paulista
6   TECAL_007    True      Paulista
7   TECAL_008    True      Paulista
8   TECAL_009    True      Paulista
9   TECAL_010    True      Paulista
10  TECAL_011    True      Paulista
11  TECAL_012    True      Paulista
12  TECAL_013    True      Paulista
13  TECAL_014    True      Paulista

In [13]:
# Piratininga 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_piratininga=[]
for coluna in df_tecal_piratininga.columns:
    if df_tecal_piratininga[coluna].isnull().all():
        indicadores_nao_recebidos_piratininga.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecal, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_piratininga))

status_recebimento_tecal_piratininga = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecal_piratininga.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecal_piratininga = status_recebimento_tecal_piratininga.reindex(columns = ['Indicador','Status'])
status_recebimento_tecal_piratininga.insert(loc=2,column='Distribuidora',value='Piratininga')
status_recebimento_tecal_piratininga.to_excel(os.path.join(pasta_piratininga_status,'status_recebimento_tecal_piratininga.xlsx'))
status_recebimento_tecal_piratininga

    Indicador  Status Distribuidora
0   TECAL_001    True   Piratininga
1   TECAL_002    True   Piratininga
2   TECAL_003    True   Piratininga
3   TECAL_004    True   Piratininga
4   TECAL_005    True   Piratininga
5   TECAL_006    True   Piratininga
6   TECAL_007    True   Piratininga
7   TECAL_008    True   Piratininga
8   TECAL_009    True   Piratininga
9   TECAL_010    True   Piratininga
10  TECAL_011    True   Piratininga
11  TECAL_012    True   Piratininga
12  TECAL_013    True   Piratininga
13  TECAL_014    True   Piratininga

In [14]:
# Santa Cruz 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_santacruz=[]
for coluna in df_tecal_santacruz.columns:
    if df_tecal_santacruz[coluna].isnull().all():
        indicadores_nao_recebidos_santacruz.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecal, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_santacruz))

status_recebimento_tecal_santacruz = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecal_santacruz.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecal_santacruz = status_recebimento_tecal_santacruz.reindex(columns = ['Indicador','Status'])
status_recebimento_tecal_santacruz.insert(loc=2,column='Distribuidora',value='Santa Cruz')
status_recebimento_tecal_santacruz.to_excel(os.path.join(pasta_santacruz_status,'status_recebimento_tecal_santacruz.xlsx'))
status_recebimento_tecal_santacruz

    Indicador  Status Distribuidora
0   TECAL_001    True    Santa Cruz
1   TECAL_002    True    Santa Cruz
2   TECAL_003    True    Santa Cruz
3   TECAL_004    True    Santa Cruz
4   TECAL_005    True    Santa Cruz
5   TECAL_006    True    Santa Cruz
6   TECAL_007    True    Santa Cruz
7   TECAL_008    True    Santa Cruz
8   TECAL_009    True    Santa Cruz
9   TECAL_010    True    Santa Cruz
10  TECAL_011    True    Santa Cruz
11  TECAL_012    True    Santa Cruz
12  TECAL_013    True    Santa Cruz
13  TECAL_014    True    Santa Cruz

In [15]:
# RGE
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_rge=[]
for coluna in df_tecal_rge.columns:
    if df_tecal_rge[coluna].isnull().all():
        indicadores_nao_recebidos_rge.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecal, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_rge))

status_recebimento_tecal_rge = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecal_rge.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecal_rge = status_recebimento_tecal_rge.reindex(columns = ['Indicador','Status'])
status_recebimento_tecal_rge.insert(loc=2,column='Distribuidora',value='RGE')
status_recebimento_tecal_rge.to_excel(os.path.join(pasta_rge_status,'status_recebimento_tecal_rge.xlsx'))
status_recebimento_tecal_rge

    Indicador  Status Distribuidora
0   TECAL_001    True           RGE
1   TECAL_002    True           RGE
2   TECAL_003    True           RGE
3   TECAL_004    True           RGE
4   TECAL_005    True           RGE
5   TECAL_006    True           RGE
6   TECAL_007    True           RGE
7   TECAL_008    True           RGE
8   TECAL_009    True           RGE
9   TECAL_010    True           RGE
10  TECAL_011    True           RGE
11  TECAL_012    True           RGE
12  TECAL_013    True           RGE
13  TECAL_014    True           RGE

In [16]:
#Separa a tabela por distribuidora
df_tecal_paulista = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '63']
df_tecal_piratininga = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '2937']
df_tecal_santacruz = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '69']
df_tecal_rge = tabela_tecal.loc[tabela_tecal['TECAL_001'] == '396']

In [17]:
#Define os dataframe
df_tecal_paulista_join = df_tecal_paulista
df_tecal_piratininga_join = df_tecal_piratininga 
df_tecal_santacruz_join = df_tecal_santacruz
df_tecal_rge_join = df_tecal_rge

# Tratamento, Limpeza e Conversão

In [18]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Paulista
#Conversão do Código da distribuidora para o CNPJ
df_tecal_paulista_join['TECAL_001'] = df_tecal_paulista_join['TECAL_001'].replace('63','33050196000188')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecal_paulista_join[coluna_integer] = df_tecal_paulista_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecal_paulista_join[coluna_float] = df_tecal_paulista_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecal_paulista_join[coluna_string] = df_tecal_paulista_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECAL_002
Colunas integer convertidas:  TECAL_006
Colunas integer convertidas:  TECAL_007
Colunas integer convertidas:  TECAL_008
Colunas integer convertidas:  TECAL_009
Colunas integer convertidas:  TECAL_010
Colunas integer convertidas:  TECAL_011
Colunas integer convertidas:  TECAL_012
Colunas integer convertidas:  TECAL_013
Colunas float convertidas:  TECAL_014
Colunas string convertidas:  TECAL_005

In [19]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Piratininga
#Conversão do Código da distribuidora para o CNPJ
df_tecal_piratininga_join['TECAL_001'] = df_tecal_piratininga_join['TECAL_001'].replace('2937','04172213000151')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecal_piratininga_join[coluna_integer] = df_tecal_piratininga_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecal_piratininga_join[coluna_float] = df_tecal_piratininga_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecal_piratininga_join[coluna_string] = df_tecal_piratininga_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECAL_002
Colunas integer convertidas:  TECAL_006
Colunas integer convertidas:  TECAL_007
Colunas integer convertidas:  TECAL_008
Colunas integer convertidas:  TECAL_009
Colunas integer convertidas:  TECAL_010
Colunas integer convertidas:  TECAL_011
Colunas integer convertidas:  TECAL_012
Colunas integer convertidas:  TECAL_013
Colunas float convertidas:  TECAL_014
Colunas string convertidas:  TECAL_005

In [20]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Santa Cruz
#Conversão do Código da distribuidora para o CNPJ
df_tecal_santacruz_join['TECAL_001'] = df_tecal_santacruz_join['TECAL_001'].replace('69','53859112000169')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecal_santacruz_join[coluna_integer] = df_tecal_santacruz_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecal_santacruz_join[coluna_float] = df_tecal_santacruz_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecal_santacruz_join[coluna_string] = df_tecal_santacruz_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECAL_002
Colunas integer convertidas:  TECAL_006
Colunas integer convertidas:  TECAL_007
Colunas integer convertidas:  TECAL_008
Colunas integer convertidas:  TECAL_009
Colunas integer convertidas:  TECAL_010
Colunas integer convertidas:  TECAL_011
Colunas integer convertidas:  TECAL_012
Colunas integer convertidas:  TECAL_013
Colunas float convertidas:  TECAL_014
Colunas string convertidas:  TECAL_005

In [21]:
#Tratamento, Limpeza e Conversão do tipo do dado
#RGE
#Conversão do Código da distribuidora para o CNPJ
df_tecal_rge_join['TECAL_001'] = df_tecal_rge_join['TECAL_001'].replace('396','02016440000162')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecal_rge_join[coluna_integer] = df_tecal_rge_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecal_rge_join[coluna_float] = df_tecal_rge_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecal_rge_join[coluna_string] = df_tecal_rge_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECAL_002
Colunas integer convertidas:  TECAL_006
Colunas integer convertidas:  TECAL_007
Colunas integer convertidas:  TECAL_008
Colunas integer convertidas:  TECAL_009
Colunas integer convertidas:  TECAL_010
Colunas integer convertidas:  TECAL_011
Colunas integer convertidas:  TECAL_012
Colunas integer convertidas:  TECAL_013
Colunas float convertidas:  TECAL_014
Colunas string convertidas:  TECAL_005

In [22]:
#Tratamento do mês (não podemos ter mês 0)
for coluna in colunas_mes:
    df_tecal_paulista_join[coluna] = df_tecal_paulista_join[coluna].replace(0,np.nan)
    df_tecal_piratininga_join[coluna] = df_tecal_piratininga_join[coluna].replace(0,np.nan)
    df_tecal_santacruz_join[coluna] = df_tecal_santacruz_join[coluna].replace(0,np.nan)
    df_tecal_rge_join[coluna] = df_tecal_rge_join[coluna].replace(0,np.nan)

# Validação por Conjunto

In [23]:
#Validação de Municipio
#Paulista
#Define os municipios
municipios_paulista = chaves_paulista[['TECAL_002']].astype('int')
municipios_tecal_paulista = df_tecal_paulista[['TECAL_002']]

#Dropa os municipios repetidos
municipios_tecal_paulista = municipios_tecal_paulista.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_paulista_join = municipios_paulista.merge(municipios_tecal_paulista,indicator=True,on='TECAL_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_paulista_join[municipios_paulista_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [TECAL_002, _merge]
Index: []

In [24]:
#Validação de Municipio
#Piratininga
#Define os municipios
municipios_piratininga = chaves_piratininga[['TECAL_002']].astype('int')
municipios_tecal_piratininga = df_tecal_piratininga[['TECAL_002']]

#Dropa os municipios repetidos
municipios_tecal_piratininga = municipios_tecal_piratininga.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_piratininga_join = municipios_piratininga.merge(municipios_tecal_piratininga,indicator=True,on='TECAL_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_piratininga_join[municipios_piratininga_join['_merge'] == 'right_only']

    TECAL_002      _merge
42      13988  right_only

In [25]:
#Validação de Municipio
#Santa Cruz
#Define os municipios
municipios_santacruz = chaves_santacruz[['TECAL_002']].astype('int')
municipios_tecal_santacruz = df_tecal_santacruz[['TECAL_002']]

#Dropa os municipios repetidos
municipios_tecal_santacruz = municipios_tecal_santacruz.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_santacruz_join = municipios_santacruz.merge(municipios_tecal_santacruz,indicator=True,on='TECAL_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_santacruz_join[municipios_santacruz_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [TECAL_002, _merge]
Index: []

In [26]:
#Validação de Municipio
#RGE
#Define os municipios
municipios_rge = chaves_rge[['TECAL_002']].astype('int')
municipios_tecal_rge = df_tecal_rge[['TECAL_002']]

#Dropa os municipios repetidos
municipios_tecal_rge = municipios_tecal_rge.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_rge_join = municipios_rge.merge(municipios_tecal_rge,indicator=True,on='TECAL_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_rge_join[municipios_rge_join['_merge'] == 'right_only'].drop_duplicates()

     TECAL_002      _merge
100    4300109  right_only
101    4300307  right_only
102    4300406  right_only
103    4300455  right_only
104    4300505  right_only
..         ...         ...
398    4323309  right_only
399    4323408  right_only
400    4323457  right_only
401    4323606  right_only
402    4323754  right_only

[303 rows x 2 columns]

# Exportação dos Dados

In [27]:
#Paulista
arquivo = 'TEC_AL.csv'
df_tecal_paulista_join.to_csv(os.path.join(pasta_paulista,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [28]:
#Piratininga
arquivo = 'TEC_AL.csv'
df_tecal_piratininga_join.to_csv(os.path.join(pasta_piratininga,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [29]:
#Santa Cruz
arquivo = 'TEC_AL.csv'
df_tecal_santacruz_join.to_csv(os.path.join(pasta_santacruz,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [30]:
#RGE
arquivo = 'TEC_AL.csv'
df_tecal_rge_join.to_csv(os.path.join(pasta_rge,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')